<div class="container">
 <div class ="row">
  <div class ="col-sm-12 col-md-8 col-lg-5 mx-auto">
   <h2>User info</h2>

    <%= form_with model: @user do |f| %>
     <div class ="form">
       <%= f.label :Name %><br>
       <input class ="form-control name" name="user[name]" id="user_name">
     </div>
     
     <div class ="form">
       <%= f.label :Image %><br>
       <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
     </div>
     
     <div class ="form">
       <%= f.label :Introduction %><br>
       <textarea class ="form-control introduction" name="user[introduction]" id="user_introduction">
       </textarea>
     </div> 
     
     <br>  
     <div class ="form">
       <input type="submit" value="Update User" class="btn btn-secondary", "text-light">
     </div>  

    <% end %>
  </div>
 </div>
</div>

